:root {
  --bg: #121212;
  --card: #1f1f1f;
  --text: #fff;
  --accent: #fca311;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  font-family: sans-serif;
}

button {
  background: var(--accent);
  border: none;
  color: #000;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}

input {
  background: var(--card);
  color: var(--text);
  border: 1px solid #333;
  padding: 0.6rem;
  border-radius: 8px;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 1rem;
}

.card {
  background: var(--card);
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 0 10px #000;
  margin-bottom: 10px;
}

.snapp {
  color: var(--accent);
}

.detail {
  font-size: 1.1em;
  margin-top: 10px;
}

.margin-top-50 {
  margin-top: 50px;
}